*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto';
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;

}

h1, h2, p{
    margin: 0;
}

.divider {
    width: min(420px, 100%);
    height: 1px;
    background-color: var(--color-black);
    border: none;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}