.contacts {
    padding: 55px 20px 63px;
    text-align: center;

}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-black);  }

.contacts-button {
    margin: 0 auto;
    width: 210px;
    height: 42px;
    background-color: var(--color-black);
    color:var(--bg-main);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 21px;
    margin: 75px auto 30px;
}

.contacts-button:hover{
    opacity: .85;
}

.button-link {
    font-size: 24px;
    font-weight: 500;
    background-color: var(--color-black);

}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-black);
}

.social-icon:hover{
    fill: #6c7f8b;
}

.contacts-info {
    color: var(--font-color-grey);
    margin: 35px auto 0;
    font-size: 16px;
    font-weight: 500;
    max-width: 260px
}

@media (max-width: 480px){
    .socials {
    gap: 20px;
}
    .contacts-button {
    margin: 50px auto 30px;
}
    .social-icon {
    width: 55px;
    height: 55px;
}
    .contacts-info {
    font-size: 14px;
} 
}