.header {
    padding-top: 25px;
}

.nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--font-color-grey);
    margin-top: 30px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: var(--font-color-grey);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 100%;
    height: 1px;
    bottom: 3px;
    background-color: var(--color-black);
    transition: right .22s;
}

.nav-link:hover{
    color: var(--color-black)
}

.nav-link:hover::after{
    right: 0;
}

@media (max-width: 480px){
    .header{
        display: none;
    }
}